.emoji {
  position: absolute;
  z-index: 2;
  width: 352;
  height: 435px;
  bottom: 113px;
  right: 122px;
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Đặt kiểu cho màn hình dọc của iPad */
  body {
    height: 100vh;
  }
}
@media only screen and (max-width: 767px) {
  /* Đặt kiểu cho tất cả các điện thoại */
  body {
    height: 920px;
  }
  .list-user {
    height: 30vh;
    overflow-y: auto;
    border-bottom: 1px solid;
  }
}
