html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins";
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
input {
  display: block;
}

$colorFamous: rgb(214, 214, 216);
.container {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgb(214, 214, 216);
}
.animation {
  width: calc(100% - 500px);
  height: 100vh;
  background-color: #c797eb;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  button{
    display: block;

  }
}

.login {
  width: 500px;
  margin: 0 auto;
  h1{
    display: grid;
    margin: 1rem 4rem;
    color: rgb(100, 70, 124);
    justify-content: center;
    margin: 5rem 0;
  }
  h2 {
    display: grid;
    color: rgb(100, 70, 124);
    justify-content: center;
  }
  &__form {
    color: #c797eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inputs {
      padding-left: 4.5rem;
      outline: none;
      width: 100%;
      height: 4rem;
      border: none;
      background-color: #f0ecfc;
    }
    &__button {
      display: block;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #f0ecfc;
      background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
      height: 3.5rem;
      color: rgb(34, 65, 94);
      font-size: medium;
      padding: 10px 20px;
    }
  }
  &__field {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    i {
      display: block;
      position: absolute;
      z-index: 1;
      margin-left: 2rem;
    }
  }
  &__image {
    display: inline-block;
    padding-right: 0;
    right: 0;
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
}
// #nameField {
//   transition: cubic-bezier(0.075, 0.82, 0.165, 1);
// }
